/*
! Author       	: HtHc
! Version      	: 1.0
*/
/************* Typography ******************/
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  font-size: 1.5rem !important;
  position: relative;
  overflow-x: hidden;
}

img {
  border: none;
  outline: none;
  height: auto;
  max-width: 100%;
}

a,
a:active,
a:focus,
a:hover {
  outline: none !important;
  text-decoration: none;
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #fff;
}

a:hover {
  color: #6abe45;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

ul,
ol {
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  margin: 0 0 14px;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  margin: 0 0 20px;
  line-height: 40px;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 15px;
}

h4 {
  font-size: 14px;
  color: #999;
  font-weight: 400;
  margin: 0 0 20px;
}

h5 {
  font-weight: 300;
  margin: 0 0 10px;
}

h6 {
  font-size: 14px;
  line-height: 18px;
  color: #999;
  font-weight: 400;
  margin: 0 0 10px;
}

p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  margin: 0 0 25px;
}

::-moz-selection {
  /* Code for Firefox */
  color: red;
  background: yellow;
}

::selection {
  color: #333;
  background: #6abe45;
}

.solid-header {
  width: 100%;
  position: fixed;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  z-index: 1000 !important;
}

#scroll-down-arrow {
  position: absolute;
  bottom: 83px;
  width: 46px;
  height: 46px;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 2px solid #fff;
  border-radius: 100%;
  -webkit-animation: bounce 3.5s infinite running;
          animation: bounce 3.5s infinite running;
}

#scroll-down-arrow:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

#scroll-down-arrow::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  left: 0;
  right: 0;
  top: 10px;
  margin: 0 auto;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*================================ Pre Loader ====================================*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #15202b;
  z-index: 13000;
  height: 100%;
}

.preloader_image {
  width: 130px;
  height: 130px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sk-double-bounce {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 40px auto;
}

.sk-double-bounce .sk-child {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #6abe45;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
          animation: sk-doubleBounce 2s infinite ease-in-out;
}

.sk-double-bounce .sk-double-bounce2 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes sk-doubleBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-doubleBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/***************************************  NAVIGATION ***************************************/
.navbar {
  z-index: 1;
  background-color: #15202b;
  -webkit-box-shadow: 1px 1px 4px 1px rgba(1, 54, 122, 0.3);
          box-shadow: 1px 1px 4px 1px rgba(1, 54, 122, 0.3);
}

.navbar .navbar-logo {
  padding: 4px 0;
  display: inline-block;
  margin-right: 1rem;
  font-size: 1rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar .navbar-logo img {
  border: none;
  outline: none;
  height: 40px;
  max-width: 100%;
}

.navbar-toggler {
  padding: 0;
  outline: none;
  border: none;
}

.navbar-toggler .navigation__mobile {
  display: inline-block;
  width: 40px;
  height: 3px;
  background: #fff;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar-toggler .navigation__mobile::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -11px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 4px;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.navbar-toggler .navigation__mobile::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -11px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 4px;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.navbar-toggler:not(.collapsed) .navigation__mobile {
  background: rgba(0, 0, 0, 0);
}

.navbar-toggler:not(.collapsed) .navigation__mobile:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0px;
}

.navbar-toggler:not(.collapsed) .navigation__mobile:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0px;
}

.navbar .navbar-nav .nav-item:first-child {
  margin: 0;
}

.navbar .navbar-nav .nav-item {
  position: relative;
}

.navbar .navbar-nav .nav-item {
  margin-left: 35px;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-link:hover {
  color: #6abe45;
}

.navbar .navbar-nav .nav-link {
  font-size: 16px;
  color: #fff;
  line-height: 24px;
  font-weight: 400;
  text-transform: capitalize;
  position: relative;
}

.nav-link-ico {
  margin-bottom: 0.5rem;
  width: 17px;
}

/************* SECTION CAROUSEL  ******************/
#banner .carousel-item {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#banner .carousel-item::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #4133329c;
}

#banner .carousel-item .carousel-text {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#banner .carousel-item .carousel-text h1,
#banner .carousel-item .carousel-text h6,
#banner .carousel-item .carousel-text p {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#banner .carousel-item .carousel-text .hero-text {
  width: 100%;
  float: left;
  height: auto;
  max-width: 540px;
}

#banner .carousel-item .carousel-text .hero-text h1 {
  color: #fff;
}

#banner .carousel-item .carousel-text .hero-text h6 {
  color: #fff;
}

#banner .carousel-item .carousel-text .hero-text p {
  color: #fff;
}

#banner .carousel-item .carousel-text a {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

#banner .carousel-indicators {
  width: 14px;
  margin: 0;
  left: auto;
  right: 15px;
  top: 50%;
  bottom: auto;
  display: block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#banner .carousel-indicators li {
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #6abe45;
  margin: 0 0 10px;
}

#banner .carousel-indicators li::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
}

#banner .carousel-indicators li::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
}

#banner .carousel-indicators li.active {
  background: #6abe45;
}

.btn.btn-primary {
  line-height: 26px;
  border: 2px solid #6abe45;
  border-radius: 27px;
  padding: 12px 35px;
  color: #fff;
  font-weight: 500;
  background-color: #6abe45;
  text-transform: uppercase;
  opacity: 1;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/************* SECTION OUR SERVICE ******************/
section {
  position: relative;
  background-color: #15202b;
}

.section-spacing {
  padding: 110px 0;
}

.section-spacing .section-title {
  width: 100%;
  float: left;
  height: auto;
  margin: 0 0 70px;
}

.section-spacing .section-title h2 {
  position: relative;
}

.section-spacing .section-title h2::before {
  width: 10px;
  height: 55px;
  position: absolute;
  left: 50%;
  content: "";
  background: #6abe45;
  opacity: 0.4;
  top: -15px;
  border-radius: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.section-spacing .section-title h2::after {
  width: 10px;
  height: 55px;
  position: absolute;
  left: 50%;
  content: "";
  background: #6abe45;
  opacity: 0.4;
  bottom: -15px;
  border-radius: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.section-spacing .section-title p {
  display: block;
  margin: 0 auto;
  max-width: 605px;
}

.service-item {
  width: 100%;
  float: left;
  height: auto;
  margin: 0 0 65px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.service-item p {
  margin: 0;
}

.service-item i {
  width: 80px;
  text-align: center;
  display: inline-block;
  line-height: 72px;
  vertical-align: middle;
  position: relative;
  z-index: 3;
}

.service-item .icon {
  display: block;
  position: relative;
  margin: 0 0 20px;
}

.service-item .icon::before {
  content: "";
  width: 80px;
  height: 80px;
  background: #d0ffbb;
  border-radius: 0 80px 80px 80px;
  opacity: 0.75;
  position: absolute;
  left: 50%;
  top: 0px;
  z-index: 1;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.service-item [class^="flaticon-"]:before,
.service-item [class*=" flaticon-"]:before {
  font-size: 36px;
  color: #15202b;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.service-item:hover .icon::before {
  background: #6abe45;
  opacity: 1;
}

.service-item:hover .icon i::before {
  color: #fff;
}

/************* SECTION FEATURED TOURS ******************/
.tour__item {
  cursor: pointer;
  margin: 15px 0 0 0;
  width: 100%;
  float: left;
  height: auto;
  background-color: #15202b;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-box-shadow: 1px 7px 7px 1px #191d21;
          box-shadow: 1px 7px 7px 1px #191d21;
}

.tour__item .featured__heading__text {
  font-size: 30px;
}

.tour__item .media {
  width: auto;
}

.tour__item .thumb {
  width: 100%;
  float: left;
  height: auto;
  overflow: hidden;
}

.tour__item .thumb img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tour__description {
  width: 100%;
  float: left;
  height: auto;
  padding: 27px 20px 27px;
}

.tour__description p {
  margin: 0 0 20px;
}

.tour__price {
  font-size: 22px;
  color: #6abe45;
  border-bottom: 1px solid #272724;
  font-weight: 600;
  line-height: 28px;
  margin: 0 0 10px;
}

.tour__location {
  width: 100%;
  float: left;
  height: auto;
}

.tour__location .tour__where {
  color: #f9f9f9;
  background: #1b242d;
  -webkit-box-shadow: 1px 7px 7px 1px #191d21;
          box-shadow: 1px 7px 7px 1px #191d21;
  display: inline-block;
  padding: 5px 15px;
  margin: 1rem 0 0 0;
  font-size: 20px;
  border-radius: 15px;
  line-height: 20px;
}

/************* SECTION POPULAR DESTINATIONS ******************/
.destination-item {
  width: 100%;
  float: left;
  height: auto;
  position: relative;
  margin: 0 0 30px;
  overflow: hidden;
}

.destination-item img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.destination-item .destination-info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 45px 20px 25px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.9) 100%);
}

.destination-item .destination-info h2 {
  color: #fff;
  margin: 0 0 10px;
  font-weight: 600;
}

.destination-item .destination-info h3 {
  margin: 0;
  color: #fff;
}

/************* SECTION GALLERY ******************/
#filter-list {
  display: inline-block;
  border: 1px solid #dddddd;
  border-radius: 30px;
  padding: 4px;
  margin: 0 0 60px;
}

#filter-list li {
  display: inline-block;
  font-size: 16px;
  color: #888888;
  text-transform: uppercase;
  line-height: 50px;
  text-align: center;
  border-radius: 25px;
  font-weight: 500;
  padding: 0 20px;
  min-width: 130px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#filter-list li.active,
#filter-list li:hover {
  background: #6abe45;
  color: #fff;
}

.gallery-outer {
  width: 100%;
  float: left;
  height: auto;
  padding: 0 1px;
}

.gallery-items li {
  width: 25%;
  float: left;
  padding: 0 1px 2px;
}

.gallery-items li img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gallery-inner {
  width: 100%;
  float: left;
  position: relative;
  overflow: hidden;
}

.gallery-overlay {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%) scale(0);
  transform: translateY(-50%) scale(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gallery-overlay a {
  width: 60px;
  line-height: 60px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  color: #6abe45;
  font-size: 20px;
}

.gallery-overlay a:hover {
  background: #6abe45;
  color: #fff;
}

.gallery-items li:hover .gallery-overlay {
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
}

.gallery-items li:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/************* SECTION HOTELS ******************/
.hotel-item {
  width: 100%;
  float: left;
  height: auto;
  cursor: pointer;
  background: #15202b;
  margin: 0 0 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hotels .hotel-item {
  margin: 0 0 50px !important;
}

.hotel-item:hover {
  -webkit-box-shadow: 0 0 25px rgba(165, 165, 165, 0.1);
  -ms-box-shadow: 0 0 25px rgba(165, 165, 165, 0.1);
  box-shadow: 0 0 25px rgba(165, 165, 165, 0.1);
}

.hotel-item .thumb {
  width: 100%;
  float: left;
  height: auto;
  overflow: hidden;
}

.hotel-item .thumb img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hotel-item:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hotel-info {
  width: 100%;
  float: left;
  height: auto;
  padding: 27px 25px 27px;
}

.hotel-price {
  font-size: 24px;
  color: #6abe45;
  font-weight: 600;
  line-height: 28px;
  margin: 0 0 10px;
}

.hotel-price small {
  font-size: 14px;
  font-weight: 400;
  color: #888;
}

.hotel-item .media .thumb {
  width: auto;
}

/************* SECTION TOURIST FEEDBACK ******************/
.testimonials-outer {
  width: 100%;
  float: left;
  height: auto;
  padding-bottom: 70px;
  position: relative;
}

.cover-img {
  width: 80%;
  float: left;
  height: auto;
}

.cover-img img {
  width: 100%;
  height: auto;
  border-radius: 0px 10px 0px 10px;
}

#reviews-carousel {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
  background: #2f3032;
  padding: 50px 25px 70px;
}

#reviews-carousel .flaticon-quote {
  width: 68px;
  line-height: 58px;
  background-color: #6abe45;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  border: 5px solid #fff;
  position: absolute;
  right: 25px;
  top: -34px;
}

#reviews-carousel .flaticon-quote::before {
  font-size: 36px;
  color: #fff;
  vertical-align: middle;
}

#reviews-carousel h3 {
  color: #fff;
  font-weight: 500;
  margin: 0 0 10px;
}

#reviews-carousel h4 {
  font-size: 14px;
  color: #888;
  font-weight: 400;
  margin: 0 0 20px;
}

#reviews-carousel p {
  font-size: 16px;
  line-height: 28px;
  color: #888;
  margin: 0 0 25px;
}

#reviews-carousel .carousel-control {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #575757;
}

#reviews-carousel .carousel-control a {
  line-height: 50px;
  width: 50%;
  float: left;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

#reviews-carousel .carousel-control a span {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#reviews-carousel .carousel-control a.control-next {
  background-color: #6abe45;
}

/************* FOOTER ******************/
#footer {
  width: 100%;
  float: left;
  height: auto;
}

.footer-top {
  width: 100%;
  float: left;
  height: auto;
  padding: 70px 0;
  background: #15202b;
  border-top: 2px solid #222f3c;
}

.footer-widget {
  width: 100%;
  float: left;
  height: auto;
}

.footer-widget h3 {
  color: #fff;
  margin: 0 0 30px;
}

.footer-widget p {
  color: #999;
  margin: 0;
}

.footer-top ul {
  width: 100%;
  float: left;
}

.footer-top ul li {
  width: 100%;
  float: left;
  margin: 0 0 12px;
  color: #999;
}

.footer-top ul li:last-child {
  margin: 0;
}

.footer-top ul li a {
  color: #999;
}

.footer-top ul li a:hover {
  color: #6abe45;
}

.footer-widget .fa {
  width: 20px;
}

.bussiness-hour li {
  padding-bottom: 12px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
}

.footer-ico {
  width: 50px;
}

/************* BACK TO TOP ******************/
.back-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 9;
}

.back-top a {
  width: 40px;
  line-height: 40px;
  background-color: #6abe45;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  font-size: 24px;
}

.back-top a:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

/***************************************  DROPDOWN ***************************************/
.dropdown-menu {
  top: 50px;
  right: 0;
  left: 0;
  width: 250px;
  background-color: #15202b;
  border: none;
  padding: 12px;
}

.dropdown-menu a {
  padding: 0.8rem;
}

.dropdown-menu a:hover {
  background-color: #0d1925;
}

/***************************************  DESTINATION BOSNIA  ***************************************/
.inner-page-banner {
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.inner-page-banner::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #4133329c;
}

.inner-page-banner h1 {
  position: relative;
  font-weight: 700;
  padding-bottom: 12px;
  text-transform: capitalize;
  margin: 0 0 15px;
  color: #fff;
}

.inner-page-banner h1::before {
  content: "";
  width: 70px;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #6abe45;
}

.page-banner-caption {
  position: relative;
  left: 0;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.breadcrumb {
  padding: 0;
  background: none;
  display: block;
  margin: 0;
}

.breadcrumb-item {
  text-transform: capitalize;
  font-size: 18px;
  display: inline-block;
}

.breadcrumb-item a {
  color: #fff;
}

/***************************************  RESPONSIVE DESIGN ***************************************/
@media (max-width: 575.98px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 31px;
  }
  .banner-caption p {
    font-size: 5px;
    line-height: 24px;
  }
  .slider__text {
    font-size: 14px;
  }
  .yournex__text {
    font-size: 23px;
  }
}
/*# sourceMappingURL=style.css.map */