/*
! Author       	: HtHc
! Version      	: 1.0
*/
$blackTextColor: #333;
$grayTextColor: #999;
$greenTextColor: #6abe45;
$whiteTextColor: #fff;

$whiteBackground: #fff;
$blackBackground: #000;
$greenBackground: #6abe45;

$navigationBackground: #ffffff;
$navigationBoxShadow: 4px 3px 6px 2px #e7eaea;
$navigationMobileBackground: #000;
/************* Typography ******************/
* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background: $whiteBackground;
  font-size: 1.5rem !important;
  position: relative;
  overflow-x: hidden;
}
img {
  border: none;
  outline: none;
  height: auto;
  max-width: 100%;
}
a,
a:active,
a:focus,
a:hover {
  outline: none !important;
  text-decoration: none;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: $blackTextColor;
}
a:hover {
  color: $greenTextColor;
}
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none !important;
  box-shadow: none;
}
ul,
ol {
  margin: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $blackTextColor;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  margin: 0 0 14px;
}
h2 {
  font-weight: 700;
  font-size: 30px;
  margin: 0 0 20px;
  line-height: 40px;
  text-transform: uppercase;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 15px;
}
h4 {
  font-size: 14px;
  color: $grayTextColor;
  font-weight: 400;
  margin: 0 0 20px;
}
h5 {
  font-weight: 300;
  margin: 0 0 10px;
}
h6 {
  font-size: 14px;
  line-height: 18px;
  color: $grayTextColor;
  font-weight: 400;
  margin: 0 0 10px;
}
p {
  font-size: 16px;
  line-height: 28px;
  color: $grayTextColor;
  margin: 0 0 25px;
}
::-moz-selection {
  /* Code for Firefox */
  color: red;
  background: yellow;
}

::selection {
  color: $blackTextColor;
  background: $greenBackground;
}
.solid-header {
  width: 100%;
  position: fixed;
  transition: background-color 0.4s ease;
  z-index: 1000 !important;
}
#scroll-down-arrow {
  position: absolute;
  bottom: 83px;
  width: 46px;
  height: 46px;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 2px solid $whiteBackground;
  border-radius: 100%;
  animation: bounce 3.5s infinite running;
}
#scroll-down-arrow:hover {
  animation-play-state: paused;
}
#scroll-down-arrow::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  left: 0;
  right: 0;
  top: 10px;
  margin: 0 auto;
  border-left: 2px solid $whiteBackground;
  border-bottom: 2px solid $whiteBackground;
  transform: rotate(-45deg);
}
/***************************************  NAVIGATION ***************************************/
.navbar {
  z-index: 1;
  background-color: $navigationBackground;
  .navbar-logo {
    padding: 4px 0;
    display: inline-block;
    margin-right: 1rem;
    font-size: 1rem;
    line-height: inherit;
    white-space: nowrap;
    img {
      border: none;
      outline: none;
      height: 40px;
      max-width: 100%;
    }
  }
}
.navbar-toggler {
  padding: 0;
  outline: none;
  border: none;
  .navigation__mobile {
    display: inline-block;
    width: 40px;
    height: 3px;
    background: $navigationMobileBackground;
    position: relative;
    transition: all 0.3s ease-out;
    &::before {
      content: "";
      position: absolute;
      left: 0px;
      top: -11px;
      width: 100%;
      height: 3px;
      background: $navigationMobileBackground;
      border-radius: 4px;
      transition: all 0.35s ease-out;
      backface-visibility: hidden;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0px;
      bottom: -11px;
      width: 100%;
      height: 3px;
      background: $navigationMobileBackground;
      border-radius: 4px;
      transition: all 0.35s ease-out;
      backface-visibility: hidden;
    }
  }
}
.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.navbar-toggler:not(.collapsed) .navigation__mobile {
  background: rgba(0, 0, 0, 0);
}
.navbar-toggler:not(.collapsed) .navigation__mobile:before {
  transform: rotate(45deg);
  top: 0px;
}
.navbar-toggler:not(.collapsed) .navigation__mobile:after {
  transform: rotate(-45deg);
  bottom: 0px;
}
.navbar .navbar-nav .nav-item:first-child {
  margin: 0;
}
.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item {
  margin-left: 35px;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-link:hover {
  color: $greenTextColor;
}
.navbar .navbar-nav .nav-link {
  font-size: 16px;
  color: $grayTextColor;
  line-height: 24px;
  font-weight: 400;
  text-transform: capitalize;
  position: relative;
}
.nav-link-ico {
  margin-bottom: 0.5rem;
  width: 17px;
}
/************* SECTION CAROUSEL  ******************/
#banner {
  .carousel-item {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #4133329c;
    }
    .carousel-text {
      width: 100%;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      h1,
      h6,
      p {
        animation-delay: 0.4s;
      }
      .hero-text {
        width: 100%;
        float: left;
        height: auto;
        max-width: 540px;
        h1 {
          color: #fff;
        }
        h6 {
          color: #fff;
        }
        p {
          color: #fff;
        }
      }
      a {
        animation-delay: 1.2s;
      }
    }
  }
  .carousel-indicators {
    width: 14px;
    margin: 0;
    left: auto;
    right: 15px;
    top: 50%;
    bottom: auto;
    display: block;
    transform: translateY(-50%);
    li {
      width: 14px;
      height: 14px;
      background: $whiteBackground;
      border-radius: 50%;
      border: 2px solid $greenTextColor;
      margin: 0 0 10px;
      &::before {
        content: "";
        position: absolute;
        top: -10px;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 10px;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 10px;
      }
    }
    li.active {
      background: $greenBackground;
    }
  }
}
.btn.btn-primary {
  line-height: 26px;
  border: 2px solid $greenTextColor;
  border-radius: 27px;
  padding: 12px 35px;
  color: $whiteTextColor;
  font-weight: 500;
  background-color: $greenBackground;
  text-transform: uppercase;
  opacity: 1;
  box-shadow: none !important;
}

/************* SECTION OUR SERVICE ******************/
section {
  position: relative;
}
.section-spacing {
  padding: 110px 0;
  .section-title {
    width: 100%;
    float: left;
    height: auto;
    margin: 0 0 70px;
    h2 {
      position: relative;
      &::before {
        width: 10px;
        height: 55px;
        position: absolute;
        left: 50%;
        content: "";
        background: $greenBackground;
        opacity: 0.4;
        top: -15px;
        border-radius: 5px;
        transform: rotate(45deg);
      }
      &::after {
        width: 10px;
        height: 55px;
        position: absolute;
        left: 50%;
        content: "";
        background: $greenBackground;
        opacity: 0.4;
        bottom: -15px;
        border-radius: 5px;
        transform: rotate(45deg);
      }
    }
    p {
      display: block;
      margin: 0 auto;
      max-width: 605px;
    }
  }
}

.service-item {
  width: 100%;
  float: left;
  height: auto;
  margin: 0 0 65px;
  transition: all 0.3s ease-in-out;
  p {
    margin: 0;
  }
  i {
    width: 80px;
    text-align: center;
    display: inline-block;
    line-height: 72px;
    vertical-align: middle;
    position: relative;
    z-index: 3;
  }
  .icon {
    display: block;
    position: relative;
    margin: 0 0 20px;
    &::before {
      content: "";
      width: 80px;
      height: 80px;
      background: #d0ffbb;
      border-radius: 0 80px 80px 80px;
      opacity: 0.75;
      position: absolute;
      left: 50%;
      top: 0px;
      z-index: 1;
      transform: translateX(-50%) rotate(45deg);
      transition: all 0.3s ease-in-out;
    }
  }
}
.service-item [class^="flaticon-"]:before,
.service-item [class*=" flaticon-"]:before {
  font-size: 36px;
  color: $greenTextColor;
  transition: all 0.3s ease-in-out;
}
.service-item:hover .icon::before {
  background: $greenBackground;
  opacity: 1;
}
.service-item:hover .icon i::before {
  color: $whiteTextColor;
}
/************* SECTION FEATURED TOURS ******************/
.section__background {
  background-color: #f8faff;
  .tour__item {
    margin: 15px 0 0 0;
    width: 100%;
    float: left;
    height: auto;
    background-color: #f3f3f3;
    color: #fff;
    transition: all 0.3s ease;
    animation-delay: 0.2s;
    box-shadow: 1px 7px 7px 1px #cecece;
    .media {
      width: auto;
    }
    .thumb {
      width: 100%;
      float: left;
      height: auto;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        transition: all 0.5s ease;
      }
    }
  }
  .tour__description {
    width: 100%;
    float: left;
    height: auto;
    padding: 27px 20px 27px;
    p {
      margin: 0 0 20px;
    }
  }
}
.tour__price {
  font-size: 24px;
  color: #6abe45;
  font-weight: 600;
  line-height: 28px;
  margin: 0 0 10px;
}
.tour__location {
  width: 100%;
  float: left;
  height: auto;
  .tour__where {
    color: #000;
    background: #ffd8cc;
    display: inline-block;
    padding: 5px 15px;
    margin: 1rem 0 0 0;
    font-size: 20px;
    border-radius: 15px;
    line-height: 20px;
  }
}
/************* SECTION POPULAR DESTINATIONS ******************/
.destination-item {
  width: 100%;
  float: left;
  height: auto;
  position: relative;
  margin: 0 0 30px;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
  }
  .destination-info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 45px 20px 25px;
    text-align: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.9) 100%);
    h2 {
      color: #fff;
      margin: 0 0 10px;
      font-weight: 600;
    }
    h3 {
      margin: 0;
      color: #fff;
    }
  }
}
/************* SECTION GALLERY ******************/
#filter-list {
  display: inline-block;
  border: 1px solid #dddddd;
  border-radius: 30px;
  padding: 4px;
  margin: 0 0 60px;
  li {
    display: inline-block;
    font-size: 16px;
    color: #888888;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    font-weight: 500;
    padding: 0 20px;
    min-width: 130px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  li.active,
  li:hover {
    background: #6abe45;
    color: #fff;
  }
}
.gallery-outer {
  width: 100%;
  float: left;
  height: auto;
  padding: 0 1px;
}
.gallery-items li {
  width: 25%;
  float: left;
  padding: 0 1px 2px;
  img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
.gallery-inner {
  width: 100%;
  float: left;
  position: relative;
  overflow: hidden;
}
.gallery-overlay {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%) scale(0);
  -ms-transform: translateY(-50%) scale(0);
  -moz-transform: translateY(-50%) scale(0);
  transform: translateY(-50%) scale(0);
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  a {
    width: 60px;
    line-height: 60px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    color: #6abe45;
    font-size: 20px;
    &:hover {
      background: #6abe45;
      color: #fff;
    }
  }
}
.gallery-items li:hover .gallery-overlay {
  transform: translateY(-50%) scale(1);
}
.gallery-items li:hover img {
  transform: scale(1.2);
}
/************* SECTION HOTELS ******************/
.hotel-item {
  width: 100%;
  float: left;
  height: auto;
  background: #fff;
  margin: 0 0 30px;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hotels .hotel-item {
  margin: 0 0 50px !important;
}
.hotel-item:hover {
  -webkit-box-shadow: 0 0 25px rgba(165, 165, 165, 0.1);
  -ms-box-shadow: 0 0 25px rgba(165, 165, 165, 0.1);
  -moz-box-shadow: 0 0 25px rgba(165, 165, 165, 0.1);
  box-shadow: 0 0 25px rgba(165, 165, 165, 0.1);
}
.hotel-item .thumb {
  width: 100%;
  float: left;
  height: auto;
  overflow: hidden;
}
.hotel-item .thumb img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.hotel-item:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}
.hotel-info {
  width: 100%;
  float: left;
  height: auto;
  padding: 27px 25px 27px;
}
.hotel-price {
  font-size: 24px;
  color: #6abe45;
  font-weight: 600;
  line-height: 28px;
  margin: 0 0 10px;
}
.hotel-price small {
  font-size: 14px;
  font-weight: 400;
  color: #888;
}
.hotel-item .media .thumb {
  width: auto;
}
/************* SECTION TOURIST FEEDBACK ******************/
.testimonials-outer {
  width: 100%;
  float: left;
  height: auto;
  padding-bottom: 70px;
  position: relative;
}
.cover-img {
  width: 80%;
  float: left;
  height: auto;
  img {
    width: 100%;
    height: auto;
    border-radius: 0px 10px 0px 10px;
  }
}
#reviews-carousel {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
  background: #2f3032;
  padding: 50px 25px 70px;
  .flaticon-quote {
    width: 68px;
    line-height: 58px;
    background-color: $greenBackground;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    border: 5px solid #fff;
    position: absolute;
    right: 25px;
    top: -34px;
    &::before {
      font-size: 36px;
      color: #fff;
      vertical-align: middle;
    }
  }
  h3 {
    color: #fff;
    font-weight: 500;
    margin: 0 0 10px;
  }
  h4 {
    font-size: 14px;
    color: #888;
    font-weight: 400;
    margin: 0 0 20px;
  }
  p {
    font-size: 16px;
    line-height: 28px;
    color: #888;
    margin: 0 0 25px;
  }
  .carousel-control {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #575757;
    a {
      line-height: 50px;
      width: 50%;
      float: left;
      font-size: 18px;
      text-align: center;
      color: #fff;
      span {
        transition: all 0.3s ease-in-out;
      }
    }
    a.control-next {
      background-color: #6abe45;
    }
  }
}
/************* FOOTER ******************/
#footer {
  width: 100%;
  float: left;
  height: auto;
}
.footer-top {
  width: 100%;
  float: left;
  height: auto;
  padding: 70px 0;
  background: #0e0e11;
}
.footer-widget {
  width: 100%;
  float: left;
  height: auto;
}
.footer-widget h3 {
  color: #fff;
  margin: 0 0 30px;
}
.footer-widget p {
  color: #999;
  margin: 0;
}
.footer-top ul {
  width: 100%;
  float: left;
}
.footer-top ul li {
  width: 100%;
  float: left;
  margin: 0 0 12px;
  color: #999;
}
.footer-top ul li:last-child {
  margin: 0;
}
.footer-top ul li a {
  color: #999;
}
.footer-top ul li a:hover {
  color: #6abe45;
}
.footer-widget .fa {
  width: 20px;
}
.bussiness-hour li {
  padding-bottom: 12px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
}
/************* BACK TO TOP ******************/
.back-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 9;
  a {
    width: 40px;
    line-height: 40px;
    background-color: $greenBackground;
    color: $whiteTextColor;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    &:hover {
      transform: translateY(-10px);
    }
  }
}
/***************************************  DROPDOWN ***************************************/
.dropdown-menu {
  top: 50px;
  right: 0;
  left: 0;
  width: 205px;
  background-color: #ffff;
  border-radius: 4px;
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}
/***************************************  DESTINATION BOSNIA  ***************************************/
.inner-page-banner {
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #4133329c;
  }
  h1 {
    position: relative;
    font-weight: 700;
    padding-bottom: 12px;
    text-transform: capitalize;
    margin: 0 0 15px;
    color: #fff;
    &::before {
      content: "";
      width: 70px;
      height: 4px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: $greenTextColor;
    }
  }
}
.page-banner-caption {
  position: relative;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.breadcrumb {
  padding: 0;
  background: none;
  display: block;
  margin: 0;
}
.breadcrumb-item {
  text-transform: capitalize;
  font-size: 18px;
  display: inline-block;
  a {
    color: #fff;
  }
}
